.container {
    width: 95%;
    margin: 0 auto;
}

/*  
Die rows dienen nur der Ordnung, sodass die columns sauber nebeneinander floaten
clearfix hack!!!
*/
.row::after {
    content: '';
    clear: both;
    display: block;
}

[class*='column-'] {
    float: left;
    padding: 0.7rem;
    text-align: justify;
}

/* Jede column-1 bekommt genau 1/6 der Breite */
.column-1 {
    width: 16.666%;
}

.column-2 {
    width: 33.333%;
}

.column-3 {
    width: 50%;
}

.column-4 {
    width: 66.666%;
}

.column-6 {
    width: 100%;
}

/* 
Breakpoints: Wann bricht das Layout um?

für alle Desktop-Geräte oder größer genügt das Standardlayout, das wir jetzt haben
1024px (tablet quer)
768px (tablet hochkant)
480px (smartphone und alles was kleiner ist)
*/

@media (max-width: 1024px) {
    .column-1 {
        width: 33.333%;
    }
}

@media (max-width: 768px) {
    .column-1 {
        width: 50%;
    }

    .column-2 {
        width: 100%;
    }

    .column-3 {
        width: 100%;
    }

    .column-4 {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .column-1 {
        width: 100%;
    }

    .column-2 {
        width: 100%;
    }

    .column-3 {
        width: 100%;
    }

    .column-4 {
        width: 100%;
    }
}

